<div class="h-full flex flex-col text-lg">
  <div class="product grid grid-cols-2" *ngIf="(currentProduct$ | async) as product">
      <div class="justify-self-center">
        <img class="flex justify-items-center max-h-96" src="{{ product.image }}">
      </div>
      <div class="flex flex-col gap-4">
        <div>ID {{ product.id }}</div>
        <div>Title {{ product.title }}</div>
        <div>Description {{ product.description }}</div>
        <div>Price {{ product.price }}</div>
        <div>Category {{ product.category }}</div>
        <div>Rate {{ product.rating?.rate }}</div>
        <div>Count {{ product.rating?.count }}</div>
      </div>

  </div>
  <div class="h-full grid grid-cols-2 gap-24 justify-items-center" *ngIf="(interestingProducts$ | async) as interestingProducts">
    <div class="flex cursor-pointer self-center bg-gray-50 rounded w-3/4 hover:bg-slate-100" *ngFor="let interestProd of interestingProducts" (click)="redirectTo(interestProd.id!)">
      <div class="">
        <img class="flex justify-items-center max-h-32" src="{{ interestProd.image }}">
      </div>
      <div class="self-center">
        Title: {{interestProd.title }}
      </div>
    </div>

  </div>
</div>


